.hero{
    text-align: center;
    padding: 3rem 1rem 0 1rem;
}

.hero h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.hero h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.hero-avatar{
    display: block;
    width: 12rem;
    height: auto;
    margin: auto;
    margin-bottom: 5rem;
}
.hero-device{
    display: block;
    max-width: min(100%, 80rem);
    height: auto;
    margin: auto;
}

@media (width > 600px){
    .hero h1{
        font-size: 4rem
    }

    .hero h2{
        font: size 2rem;

    }

    .hero-avatar{
        width: 20rem;
    }
}