.skills-overlay{
    background-color: var(--foreground);
    height: 10rem;
}

.skills .container{
    margin-top: -10rem;
}

.skills .grid{
    background-color: var(--background);
    margin: 0 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 3px 5px var(--primary-light) ;
}

.skills .skill {
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid var(--primary-light);
    color: var(--primary);
    padding: 5rem 2rem;
}

.skills .skill:last-child{
    border-right: 0;
    border-bottom: 0;
}

@media (width > 600px){
    .skills .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .skills .skill{
        border-bottom: 0;
        border-right: 1px solid var(--primary-light);
    }
}

/* Skill itens */

.skill-icon{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    margin: auto;
}
.skill-icon img{
    width: 4rem;
    height: 4rem;
}
.skill-title{
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem 0;
}
.skill-desc{
    font-size: 1.7rem;
    line-height: 2.5rem;
}
.skill-sub{
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--foreground);
}
.skill-txt{
    font-size: 1.7rem;
    line-height: 2.5rem;

}